body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e2f;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3rem;
}

.intro-text {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.scroll-text {
    background-image: url("assets/images/Scroll.png");
    background-size: contain;        
    background-repeat: no-repeat;
    background-position: center;
    width: 900px;                    
    height: 800px;                   
    margin: 0px auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
    font-weight: bold;
    color: #2d1600;
  }

input[type="text"] {
    padding: 10px;
    width: 60%;
    font-size: 1rem;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

.new-game,
.load-game {
    width: 240px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin: 10px;
    padding: 0;
    background-color: transparent;
}

.new-game {
    background-image: url("assets/images/new_game.png");
}

.new-game:hover {
    background-image: url("assets/images/new_game_hover.png");
    background-color: transparent;
}

.load-game {
    background-image: url("assets/images/Load_Game.png");
}

.load-game:hover {
    background-image: url("assets/images/load_game_hover.png");
    background-color: transparent;
}